<div class="carousel">
	<a href="#prev" class="prev" title="이전 슬라이드"><i class="fa fa-arrow-circle-left"></i></a>
	<a href="#next" class="next" title="다음 슬라이드"><i class="fa fa-arrow-circle-right"></i></a>
	<ul>
		<li><a href="#1" style="background-image:url(/img/carousel_1.jpg)"></a></li>
		<li><a href="#2" style="background-image:url(/img/carousel_2.jpg)"></a></li>
		<li><a href="#3" style="background-image:url(/img/carousel_3.jpg)"></a></li>
		<li><a href="#4" style="background-image:url(/img/carousel_4.jpg)"></a></li>
	</ul>
</div>
<div class="items clearbox">
	<h2>Weekly Most Wanted</h2>
	<ul>
		<li><a href="#" style="background-image:url(/img/weekly_1.jpg)"><p>Our Best Jumpsuits<small>Shop Now <i class="fa fa-angle-right"></i></small></p></a></li>
		<li><a href="#" style="background-image:url(/img/weekly_2.jpg)"><p>Stylish. Warm. Done.<small>Top Selling Winter Coats <i class="fa fa-angle-right"></i></small></p></a></li>
		<li><a href="#" style="background-image:url(/img/weekly_3.jpg)"><p>Black &amp; White Vision<small>Our Fashion Director's Faves <i class="fa fa-angle-right"></i></small></p></a></li>
	</ul>
</div>
<div class="items">
	<h2>New Arrivals</h2>
	<ul>
	</ul>
</div>
