{{#yield-scripts}}
<script src="/js/product.js"></script>
<script>var productID = '{{product.id}}';</script>
{{/yield-scripts}}
{{#yield-pageclass}}product{{/yield-pageclass}}
<div class="clearbox">
	<div class="slider col-md-7">
		<ul class="thumbnail">
			{{#product.images_s}}
			<li><a href="#slide" data-large-image="{{large_url}}"><img src="{{url}}"></a></li>
			{{/product.images_s}}
		</ul>
		<div class="track">
			<img src="{{product.images_l.0.url}}">
		</div>
	</div>
	<div class="details col-md-5">
		<h1>{{product.name}}</h1>
		<div class="clearbox">
			<div class="price col-md-7"><sup>₩</sup> {{product.price$}}</div>
			<div class="review col-md-5">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<span>0 Reviews</span>
			</div>
		</div>
		<form class="options">
			<label>Select Color and Size</label>
			<div class="clearbox">
				<span class="color"><select>{{#product.options}}<option>{{name}}</option>{{/product.options}}</select></span>
				<span class="size"><select>{{#product.options}}{{#children}}<option value="{{id}}" data-parent="{{parent.name}}">{{name}}</option>{{/children}}{{/product.options}}</select>
			</div>
			<button type="submit" id="add_to_cart"><i class="fa fa-cart"></i> Add to Cart</button>
		</form>
		<dl>
			<dt><a href="#">Description</a></dt>
			<dd class="collapsed">{{{product.description}}}</dd>
			<dt><a href="#">Shipping + Returns</a></dt>
			<dd class="collapsed">This item is final sale, non-returnable and non-exchangeable.</dd>
		</dl>
	</div>
</div>

<div class="suggestion">
	<h2><span>You May Also Like</span></h2>
	<ul class="clearbox">
		{{#suggestion}}
		<li class="col-md-2">
			<a href="{{url}}">
				<img src="{{images_m.0.url}}">
				<strong>{{name}}</strong>
				{{#retail_price}}<span class="retail-price">₩{{retail_price$}}</span>{{/retail_price}}
				<span class="price">₩{{price$}}</span>
			</a>
		</li>
		{{/suggestion}}
	</ul>
</div>